.nomPalais {
  display: flex;
  justify-content: center;
  width: 100%;
}

.description {
  display: flex;
  justify-content: center;
  width: 100%;
}

.imagePalais {
  justify-content: center;
  display: flex;
  margin-top: 3vh;
}

body {
  margin: 0 auto;
  background-color: rgba(255, 238, 0, 0.233);
}
