.assetList {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  border: solid black 1px;
  box-shadow: black 1px 1px 0px 1px;
  margin-top: 5vh;
  margin-left: 20vw;
  margin-right: 20vw;
  background-color: white;
  border-radius: 10px;
}

.PlacementA {
  width: 100%;
  margin-bottom: 5vh;
}

@media screen and (max-width: 1434px) {
  .assetList {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    border: solid black 1px;
    box-shadow: black 1px 1px 0px 1px;
    margin-top: 5vh;
    margin-left: 20vw;
    margin-right: 20vw;
    background-color: rgb(31, 63, 248);
    border-radius: 10px;
  }
}
