.header {
  display: flex;
  background-color: rgba(178, 34, 34, 0.5);
  align-items: center;
  justify-content: space-between;
  box-shadow: black 1px 1px 10px 10px;
}
.headerButton {
  display: flex;
  margin-right: 1%;
}
.allBtn {
  display: flex;
  margin-right: 4%;
  border-radius: 50px;
  box-shadow: black 2px 2px 10px 2px;
  border-color: black;
  height: 4vh;
  align-items: center;
}

.iconeH {
  width: 7%;
  border-radius: 100%;
}
